.menu li {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: pink;
    width: 100%;
    font-size: larger;
    color: rgb(168, 13, 49);
}


/* mediaquieries de tablet */

@media screen and (min-width: 600px) {
   
}

/*MQ DE DESKTOP*/

@media screen and (min-width:1024px) {
    
}

