
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

header {
    display: flex;
    justify-content: space-between;
    background: rgb(184, 91, 122);
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
    margin: 20px;
}

.equipos {
    display: flex;
    flex-direction: row;

}

@media screen and (max-width:1024px) {
    .menu {
        flex-direction: column;
    }
    .equipos {
        flex-direction: column;
    }
}


.menu li {
    justify-content: space-between;
    margin: 20px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    width: 100%;
    font-size: larger;
   font-weight: bold ;
    color: beige;
}

.menu a {
    color: beige;
    text-decoration: none;
}

#logo {
    margin: 20px;
}

.main {
    display: grid;
    height: 60vh;
    
    grid-template-columns: 1fr 1fr;
    
}

.parrafo-inicio  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 200px;
}

.imagen-inicio {
    width: 600px;
    margin-top: 200px;
}



footer {
    background: rgb(126, 48, 126);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-left: 25%;
    padding-right: 25%;  
    
}

footer img {
    width: 80px;
}

footer a {

}


/* mediaquieries de tablet */

@media screen and (min-width: 600px) {
   
}

/*MQ DE DESKTOP*/

@media screen and (min-width:1024px) {
    
}

